/*********************************************
 * FONT-FACE DEFINITIONS
 *********************************************/

@import url(../../lib/font/league-gothic/league-gothic.css);
@import url(../../lib/font/font-awesome/font-awesome.css);

/*********************************************
 * COMMON
 *********************************************/

.reveal a {
  color: #13DAEC;
}


/*********************************************
 * HEADERS
 *********************************************/

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4 {
  margin: 0 0 20px 0;
  color: #eee;
  font-family: 'League Gothic', 'Source Sans Pro', Helvetica, sans-serif;
  line-height: 1.0em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}


/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/

.reveal .controls {
  width: 100px;
  height: 100px;
  right: 2px;
  bottom: 2px;
}

.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
  border-right-color: #13DAEC;
}

.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
  border-left-color: #13DAEC;
}

.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled {
  border-bottom-color: #13DAEC
}

.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled {
  border-top-color: #13DAEC;
}

.reveal .controls .navigate-left.enabled:hover {
  border-right-color: #8dcffc;
}

.reveal .controls .navigate-right.enabled:hover {
  border-left-color: #8dcffc;
}

.reveal .controls .navigate-up.enabled:hover {
  border-bottom-color: #8dcffc;
}

.reveal .controls .navigate-down.enabled:hover {
  border-top-color: #8dcffc;
}

.reveal .slide-number {
  font-size: 13px;
  width: 40px;
  height: 24px;
  text-align: center;
  right: 28px;
  bottom: 36px;
  z-index: 31;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  line-height: 24px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 5px;
  background-color: transparent;
  padding: 0;
}


/*********************************************
 * HIGHLIGHT
 *********************************************/

.reveal .slides section .highlight-red {
  color: #ff2c2d;
}

.reveal .slides section .highlight-green {
  color: #17ff2e;
}

.reveal .slides section .highlight-blue {
  color: #1b91ff;
}


/*********************************************
 * PROGRESS BAR
 *********************************************/

.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
}

.reveal .progress span {
  background-color: #13DAEC;
}

#presentable-icon {
  position: absolute;
  top: 10px;
  left: 10px;
}

#presentable-icon a {
  color: rgba(19, 218, 236, .75);
}

button,
input,
code {
  outline: none;
}

.reveal pre {
  box-shadow: none;
  margin: 15px auto;
  width: 100%;
  line-height: 0;
}

.reveal pre code {
  padding: 5px 10px;
  max-height: 500px;/*450*/
  line-height: 1.2em;
}

.reveal .slides>section,
.reveal .slides>section>section {
  line-height: 1.25;
  font-weight: inherit;
}

.reveal h1 {
  font-size: 2.3em;
}

.reveal h2 {
  font-size: 1.5em;
}

.reveal h3 {
  font-size: 1.2em;
}

.reveal h4 {
  font-size: 1em;
}

p.text {
  text-align: justify;
  text-indent: 1.5em;
}

.table-content {
  width: 90% !important;
  margin: 0 auto !important;
}

.table-content a {
  font-size: 80%;
}

presentable-toc ol ol,
#presentable-toc ol ul,
#reveal #presentable-toc ol ol,
#reveal #presentable-toc ol ul {
  margin-bottom: .0em;
  margin-top: .0em;
  margin-left: 1.5em;
}

.reveal blockquote {
  width: 100%;
}

.header-hide {
  display: none;
}