body {
  background: #222;
  background-color: #222;
}

.reveal {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 34px;
  font-weight: normal;
  color: #fff;
}

::selection {
  color: #fff;
  background: #bee4fd;
  text-shadow: none;
}

.reveal .slides>section,
.reveal .slides>section>section {
  line-height: 1.3;
  font-weight: inherit;
}


/*********************************************
 * HEADERS
 *********************************************/

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #eee;
  font-family: 'League Gothic', 'Source Sans Pro', sans-serif;
  font-weight: 600;
  line-height: 1.0em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  word-wrap: break-word;
}

.reveal h1 {
  font-size: 2.3em;
  text-shadow: none;
}

.reveal h2 {
  font-size: 1.5em;
}

.reveal h3 {
  font-size: 1.2em;
}

.reveal h4 {
  font-size: 1em;
}


/*********************************************
* section
*********************************************/

section.has-light-background,
section.has-light-background h1,
section.has-light-background h2,
section.has-light-background h3,
section.has-light-background h4,
section.has-light-background h5,
section.has-light-background h6 {
  color: #222;
}


/*********************************************
 * OTHER
 *********************************************/

.reveal p {
  margin: 20px 0;
  line-height: 1.3;
}


/* Ensure certain elements are never larger than the slide itself */

.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%;
}

.reveal strong,
.reveal b {
  font-weight: bold;
}

.reveal em {
  font-style: italic;
}

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em;
}

.reveal ol {
  list-style-type: decimal;
}

.reveal ul {
  list-style-type: disc;
}

.reveal ul ul {
  list-style-type: square;
}

.reveal ul ul ul {
  list-style-type: circle;
}

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px;
}

.reveal dt {
  font-weight: bold;
}

.reveal dd {
  margin-left: 40px;
}

.reveal q,
.reveal blockquote {
  quotes: none;
}

.reveal blockquote {
  display: block;
  position: relative;
  width: 100%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block;
}

.reveal q {
  font-style: italic;
}

.reveal pre {
  display: block;
  position: relative;
  width: 100%;
  margin: 15px auto;
  text-align: left;
  font-size: 0.65em;
  font-family: monospace;
  line-height: 0;
  word-wrap: break-word;
  box-shadow: none;
}

.reveal code {
  font-family: monospace;
}

.reveal pre code {
  display: block;
  padding: 0 10px;
  overflow: auto;
  max-height: 500px;
  word-wrap: normal;
  line-height: 1.2em;
}

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0;
}

.reveal table th {
  font-weight: bold;
}

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid;
}

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center;
}

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right;
}

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none;
}

.reveal sup {
  vertical-align: super;
}

.reveal sub {
  vertical-align: sub;
}

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top;
}

.reveal small * {
  vertical-align: top;
}


/*********************************************
 * LINKS
 *********************************************/

.reveal a {
  color: #13DAEC;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease;
}

.reveal a:hover {
  color: #8dcffc;
  text-shadow: none;
  border: none;
}

.reveal .roll span:after {
  color: #fff;
  background: #068de9;
}


/*********************************************
 * IMAGES
 *********************************************/

.reveal section img {
  margin: 10px 0;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.reveal section img.plain {
  border: 0;
  box-shadow: none;
}

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear;
}

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #42affa;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
}


/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/

.reveal .controls {
  width: 100px;
  height: 100px;
  right: 2px;
  bottom: 2px;
}

.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
  border-right-color: #13DAEC;
}

.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
  border-left-color: #13DAEC;
}

.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled {
  border-bottom-color: #13DAEC
}

.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled {
  border-top-color: #13DAEC;
}

.reveal .controls .navigate-left.enabled:hover {
  border-right-color: #8dcffc;
}

.reveal .controls .navigate-right.enabled:hover {
  border-left-color: #8dcffc;
}

.reveal .controls .navigate-up.enabled:hover {
  border-bottom-color: #8dcffc;
}

.reveal .controls .navigate-down.enabled:hover {
  border-top-color: #8dcffc;
}

.reveal .slide-number {
  width: 40px;
  height: 24px;
  text-align: center;
  right: 28px;
  bottom: 36px;
  z-index: 31;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  line-height: 24px;
  color: #fff;
  background-color: transparent;
  padding: 0;
}


/*********************************************
 * HIGHLIGHT
 *********************************************/

.reveal .slides section .highlight-red {
  color: #ff2c2d;
}

.reveal .slides section .highlight-green {
  color: #17ff2e;
}

.reveal .slides section .highlight-blue {
  color: #1b91ff;
}


/*********************************************
 * PROGRESS BAR
 *********************************************/

.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
}

.reveal .progress span {
  background-color: #13DAEC;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}


/*********************************************
 * OTHER
 *********************************************/

.presentable-toc ol ol,
#presentable-toc ol ul {
  margin-bottom: .0em;
  margin-top: .0em;
  margin-left: 1.5em;
}

#presentable-icon {
  position: absolute;
  top: 10px;
  left: 10px;
}

#presentable-icon a {
  color: rgba(19, 218, 236, .75);
}

.reveal .slides>section,
.reveal .slides>section>section {
  line-height: 1.25;
  font-weight: inherit;
}

p.text {
  text-align: justify;
  text-indent: 1.5em;
}

.table-content {
  width: 90%;
  margin: 0 auto;
}

.table-content a {
  font-size: 80%;
}

.header-hide {
  display: none;
}


/*********************************************
 * highlight.js
 *********************************************/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #3f3f3f;
  color: #dcdcdc;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-tag {
  color: #e3ceab;
}

.hljs-template-tag {
  color: #dcdcdc;
}

.hljs-number {
  color: #8cd0d3;
}

.hljs-variable,
.hljs-template-variable,
.hljs-attribute {
  color: #efdcbc;
}

.hljs-literal {
  color: #efefaf;
}

.hljs-subst {
  color: #8f8f8f;
}

.hljs-title,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-section,
.hljs-type {
  color: #efef8f;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link {
  color: #dca3a3;
}

.hljs-deletion,
.hljs-string,
.hljs-built_in,
.hljs-builtin-name {
  color: #cc9393;
}

.hljs-addition,
.hljs-comment,
.hljs-quote,
.hljs-meta {
  color: #7f9f7f;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}